<%- include('../cabecalho.ejs') %>

<body>
    <h1><i class="fas fa-futbol"></i> Partidas</h1>

    <div class="container">
        <div class="top-bar">
            <div class="add-button">
                <a href="/admin/partida/add"><i class="fas fa-user-plus icon"></i> Adicionar Partida</a>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th><i class="fas fa-home"></i> Time da Casa</th>
                    <th><i class="fas fa-futbol"></i> Resultado</th>
                    <th><i class="fas fa-plane"></i> Time de Fora</th>
                    <th><i class="fas fa-calendar-alt"></i> Data da Partida</th>
                    <th><i class="fas fa-tools"></i> Ações</th>
                </tr>
            </thead>
            <tbody>
                <% Partidas.forEach(function(partida) { %>
                    <tr>
                        <td><%= partida.timedecasa.nome %></td>
                        <td><%= partida.golcasa %> x <%= partida.golfora %></td>
                        <td><%= partida.timedefora.nome %></td>
                        <td><%= partida.datapartida %></td>
                        <td>
                            <a href="/admin/partida/edt/<%= partida.id %>"><i class="fas fa-edit"></i> Editar</a>
                            <a href="/admin/partida/del/<%= partida.id %>" onclick="return confirm('Tem certeza que deseja excluir esta partida?')">
                                <i class="fas fa-trash-alt"></i> Excluir
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>
