<%- include('../cabecalho.ejs') %>

<body>
    <h1><i class="fas fa-futbol"></i> Jogadores</h1>

    <div class="container">
        <div class="top-bar">
            <div class="add-button">
                <a href="/admin/jogador/add"><i class="fas fa-user-plus icon"></i> Aumentar Elenco</a>
            </div>
            <form method="post" class="search-bar">
                <input type="text" id="search-input" placeholder="Time ou Jogador..." name="pesquisar">
                <button type="submit"><i class="fas fa-search"></i> Pesquisar</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th><i class="fas fa-user"></i> Nome</th>
                    <th><i class="fas fa-hashtag"></i> Camisa</th>
                    <th><i class="fas fa-shield-alt"></i> Time</th>
                    <th><i class="fas fa-map-marker-alt"></i> Posição</th>
                    <th><i class="fas fa-image"></i> Foto</th>
                    <th><i class="fas fa-tools"></i> Ações</th>
                </tr>
            </thead>
            <tbody>
                <% Jogados.forEach(function(jogador) { %>
                    <tr>
                        <td><%= jogador.nome %></td>
                        <td><%= jogador.camisa %></td>
                        <td><%= jogador.time != null ? jogador.time.nome : "Sem time" %></td>
                        <td><%= jogador.posicao %></td>
                        <td><img class="foto" src="/imagem/<%= jogador.fotoJog %>" /></td>
                        <td>
                            <a href="/admin/jogador/edt/<%= jogador.id %>"><i class="fas fa-edit"></i> Editar</a>
                            <a href="/admin/jogador/del/<%= jogador.id %>"><i class="fas fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
